body {
	background-color: black;
	font-family: 'Orbitron', sans-serif;
    width:700px;
    height:400px;
    color: grey;
    margin: 0 auto;
	
}

a {
	text-align: center;
	color: grey;
	background-color: rgba(215, 0, 28, 0.5);
	padding: 0px 500px 0px 0px;
}

h1 {
	text-align: center;
}

ul {
	margin: 0 auto;
    margin-left: 230px;
}

img {
    margin-left: 300px;
}

button {
    margin: 0 auto;
}


n.nav{
    border:1px solid #ccc;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}
.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    padding:10px;
}

.about {
	text-align: center;
}



